@model ICollection<ExploreItem>;



    <!-- Begin Page Content -->
    <div class="container-fluid">

        <!-- Page Heading -->
        <h1 class="h3 mb-2 text-gray-800">Tables</h1>
       

        <!-- DataTales Example -->
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">
                <a asp-area="Admin" asp-controller="ExploreItem" asp-action="Create" class="btn btn-success">Create</a>
                </h6>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                <th>Id</th>
                                <th>Title</th>
                                <th>Description</th>
                                <th>MaxPrice</th>
                                <th>MinPrice</th>
                                <th>RatingCount</th>
                                <th>Rating</th>
                                <th>Image</th>
                                <th>Buttons</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach(ExploreItem item in Model)
                            {
                                <tr>
                                    <td>@item.Id</td>
                                    <td>@item.Title</td>
                                    <td>@item.Description</td>
                                    <td>@item.MaxPrice</td>
                                    <td>@item.MinPrice</td>
                                    <td>@item.Rating</td>
                                    <td>@item.RatingCount</td>
                                    <td><img style="width: 100px;" src="~/uploads/@item.ImageUrl" /></td>
                                    <td>
                                    <a asp-area="Admin" asp-controller="ExploreItem" asp-action="Update" asp-route-id="@item.Id" class="btn btn-primary">Update</a>
                                    <a asp-area="Admin" asp-controller="ExploreItem" asp-action="Detail" asp-route-id="@item.Id" class="btn btn-secondary">Detail</a>

                                    <a asp-area="Admin" asp-controller="ExploreItem" asp-action="Delete" asp-route-id="@item.Id"  class="btn btn-danger">Delete</a>		
                                    @if(!item.IsDeleted)
                                    {
                                        <a asp-area="Admin" asp-controller="ExploreItem" asp-action="SoftDelete" asp-route-id="@item.Id" class="btn btn-warning">SoftDelete</a>
                                    }
                                    else
                                    {
                                        <a asp-area="Admin" asp-controller="ExploreItem" asp-action="Restore" asp-route-id="@item.Id" class="btn btn-info">Restore</a>

                                    }
                                    </td>
                                </tr>
                            }
                        

                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </div>
    <!-- /.container-fluid -->